NODE_ENV=
LOG_LEVEL=
LOG_PRETTY_PRINT=
PORT=
API_PREFIX=
API_VERSION=
SWAGGER_PATH=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
DATABASE_URL=
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=
